<div>
  <div class="container col-sm-12 heading v-center">
    <p class="page-headling">About Us</p><br>
  </div>

  <div class="container">
    <div class="col-sm-12 mt-50">
      <div class="col-sm-6">
        <img class="about-img" src="https://media.bizj.us/view/img/4144251/diversity*1200xx4095-2303-0-215.jpg">
      </div>
      <div class="col-sm-6">
        <p>
          An About Us page can be one of the most important pages on your website but it is one of
           the most overlooked elements on your website normally. About Us pages can highlight why
           you created your business, your commitment to sustainability, or you can tell the story
           of how your business came to be. As an important part of your website your About Us page
           can set you apart from your competitors in a way that can build your brand in a positive way.
          <br>
          <br>
           Start your About Us page by telling your customers about yourself. What is unique about you,
           what are your key features and what is your mission? Try to stand out by conveying your values
            and culture as a brand, or what brought your company together. Use this area to fully answer the
            question of who you are as a brand, and what you represent.
        </p>
      </div>
    </div>
  </div>

  <div class="footer col-sm-12 v-center">
    <p class="page-headling">Contact us</p><br>
    <p class="page-sub"> 24x7 we are here for your co-oparation. Please feel free to contact us via hotline <br>or find
      the near by store to you.</p>
    <button mat-flat-button color="primary">Find Store</button>
    <br>
    <p><strong>Hotline</strong> : +94 777 123 4567 | <strong>Email</strong> : info@happyfeet.com |
      <strong>Address</strong> : 19/C Nugegoda, Colombo, Sri Lanka</p>
  </div>
</div>
