<div>
  <div class="container col-sm-12 heading v-center">
    <p class="page-headling">About Us</p><br>
  </div>

  <div class="container">
    <div class="col-sm-12 mt-50">
      <div class="col-sm-6">
        <img class="about-img" src="../../assets/about_image.jpeg">
      </div>
      <div class="col-sm-6">
        <p>
          We provide shoe customization/ personalization service to our customer to further enhance the shopping
          experience. the process is very simple; all you have to do is select shoe size, VAMP, SOLE, QUATER colors
          and place the order. someone from close proximity to you will accept the order and the shoe will be on
          your door-step in no time. So sit back, relax and customize your dream shoe with us! Happy Shopping!
        </p>
      </div>
    </div>
  </div>

  <div class="footer col-sm-12 v-center">
    <p class="page-headling">Contact us</p><br>
    <p class="page-sub"> 24x7 we are here for your co-oparation. Please feel free to contact us via hotline <br>or find
      the near by store to you.</p>
    <button mat-flat-button color="primary">Find Store</button>
    <br>
    <p><strong>Hotline</strong> : +94 777 123 4567 | <strong>Email</strong> : info@happyfeet.com |
      <strong>Address</strong> : 19/C Nugegoda, Colombo, Sri Lanka</p>
  </div>
</div>
