<div>
  <div class="container col-sm-12 heading v-center">

      <p class="page-headling">Welcome to Happy Feet</p><br>
      <p class="page-sub">We provide varity of options to customize your own footware as your wish. <br>Start your
        design here</p>
      <button mat-flat-button color="warn">Start Design</button>
  </div>

  <div class="container">
    <div class="col-sm-4 mt-50">
      <mat-card class="v-center">
        <h1>Create your own design</h1>
        <p>Design your own design with the multiple configaration that we have provide and save for later usage</p>
        <button mat-flat-button color="accent">My Designs</button>
      </mat-card>
    </div>

    <div class="col-sm-4 mt-50">
      <mat-card class="v-center">
        <h1>Find near stores</h1>
        <p>There are plenty of stores available near by to do the custom design footwares. Find through the store finder</p>
        <button mat-flat-button color="accent">Find Store</button>
      </mat-card>
    </div>

    <div class="col-sm-4 mt-50">
      <mat-card class="v-center">
        <h1>Monitor your oder status</h1>
        <p>Using your own design you can place a order and near by store will reach you out. And you can monitor your oder status</p>
        <button mat-flat-button color="accent">Order Status</button>
      </mat-card>
    </div>
  </div>

  <div class="footer col-sm-12 v-center">
    <p class="page-headling">Contact us</p><br>
    <p class="page-sub"> 24x7 we are here for your co-oparation. Please feel free to contact us via hotline <br>or find the near by store to you.</p>
    <button mat-flat-button color="primary">Find Store</button>
    <br>
    <p><strong>Hotline</strong> : +94 777 123 4567 | <strong>Email</strong> : info@happyfeet.com | <strong>Address</strong> : 19/C Nugegoda, Colombo, Sri Lanka</p>
  </div>
</div>
