<div class="container col-sm-12 heading v-center">
  <p class="page-headling">View and accept customer orders</p><br>
</div>
<div class="container">
  <div class="col-sm-6 mt-50">
    <h1>Order Requests</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef> Order number </th>
        <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef> Order status </th>
        <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="viewOrder(element)">View</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="col-sm-6 mt-50">
    <div class="col-sm-12 mt-50 shoe">
      <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.53 190">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke: #000;
              stroke-miterlimit: 10;
              stroke-width: 5px;
            }
          </style>
        </defs>

        <a xlink:title="Sole">
          <path class="cls-1" id="sole"
            d="M70.89,194.1l-.5,42H201.32v-15s81.18,2.4,119.52,7.5c0,0,138.86,26,237.05-27v-22S492.5,228.5,323.5,210.5c0,0-17.89-1.93-41-4-21.44-1.92-47.89-6.9-71.76-6.9Z"
            transform="translate(-67.86 -48.61)" />
        </a>

        <a xlink:title="Vamp">
          <path class="cls-1" id="vamp"
            d="M220.89,198.17s234,42.29,337-15.47c0,0,1-27.84-42-34h-71s-24-2.06-64-27.85l-9-7.22v40.23s-68-6.19-93,2.06C278.89,155.89,233.89,166.2,220.89,198.17Z"
            transform="translate(-67.86 -48.61)" />
        </a>
        <a xlink:title="Quater">
          <path class="cls-1" id="quater"
            d="M75.89,193.6l144,5s9-60,152-43v-46s-43-38-98-58c0,0-70,97-182,34C91.89,85.6,57.89,125.6,75.89,193.6Z"
            transform="translate(-67.86 -48.61)" />
        </a>
        <a xlink:title="Lace">
          <line class="cls-1" x1="233.34" y1="13.71" x2="224.64" y2="25.89" />
          <line class="cls-1" x1="253.14" y1="25.89" x2="246.64" y2="35.89" />
          <line class="cls-1" x1="271.78" y1="35.89" x2="264.64" y2="46.89" />
        </a>
      </svg>
    </div>
    <div class="col-sm-6">
      <div *ngIf="design.size">
        <h1>Shoe Specification</h1>
      <h4>{{design.category}} | {{design.occasion}} | {{design.type}}</h4>
      <ol>
        <li>Size : {{design.size}}</li>
        <li>Sole Color : {{design.soleColor}}</li>
        <li>Vamp Color : {{design.vampColor}}</li>
        <li>Quater Color : {{design.quaterColor}}</li>
      </ol>
      </div>
    </div>
    <div class="col-sm-6 mt-50">
      <mat-form-field *ngIf="design.size">
        <mat-label>Deliver on</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="picker" name="deliverOn" [(ngModel)]="selectedOrder.deliverOn" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p>&nbsp;</p>
      <button mat-flat-button color="primary" *ngIf="design.size" (click)="acceptOrder()">Accept Order</button>
    </div>
    <div class="col-sm-12">
      <h3 class="price" *ngIf="design.orderPrice">Price (LKR): {{this.design?.orderPrice | number : '.2-2'}}</h3>
    </div>
    <div class="col-sm-12 WhiteBg p-5 mt-50" *ngIf="user?.basicInfo.firstName">
      <h1>User Details</h1>
      <ul>
        <li>User Name : {{user?.basicInfo.firstName}} {{user?.basicInfo.lastName}}</li>
        <li>Phone number : {{user?.basicInfo.mobileNumber}}</li>
        <li>Address : {{user?.address.addressLine1}} {{user?.address.addressLine2}} {{user?.address.addressLine3}} <br>
          {{user?.address.city}} {{user?.address.zipCode}} </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">

</div>
<div class="footer col-sm-12 v-center">
  <p class="page-headling">Contact us</p><br>
  <p class="page-sub"> 24x7 we are here for your co-oparation. Please feel free to contact us via hotline <br>or find
    the near by store to you.</p>
  <!-- <button mat-flat-button color="primary">Find Store</button> -->
  <br>
  <p><strong>Hotline</strong> : +94 777 123 4567 | <strong>Email</strong> : info@happyfeet.com |
    <strong>Address</strong> : 19/C Nugegoda, Colombo, Sri Lanka</p>
</div>
